# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df = pd.read_csv("../WeatherPy/cities.csv")
city_df.head()

,City Name,Country,Lat,Lng,Cloudiness,Humidity,Max Temp,Wind Speed,Date
0,Codrington,AU,-38.27,141.97,98,73,62.15,19.06,1579826915
1,Cape Town,ZA,-33.93,18.42,0,72,68.00,10.29,1579827001
2,Padang,ID,-0.95,100.35,20,93,69.21,4.76,1579827051
3,Fortuna,US,40.60,-124.16,90,76,59.00,5.79,1579827001
4,George Town,MY,5.41,100.34,20,83,80.60,3.36,1579826843

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)
locations = city_df[['Lat','Lng']].astype(float)
humidity = city_df['Humidity']

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,
                                max_intensity=100, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
city_df.dropna()
perfect_df = city_df[(city_df['Max Temp']>60) & (city_df['Max Temp']<90) & 
                     (city_df['Cloudiness']==0) & (city_df['Wind Speed']<5)]

perfect_df

,City Name,Country,Lat,Lng,Cloudiness,Humidity,Max Temp,Wind Speed,Date
102,Luderitz,NaN,-26.65,15.16,0,88,66.20,1.12,1579827066
307,Henties Bay,NaN,-22.12,14.28,0,92,66.00,1.99,1579827094
362,Kirakira,SB,-10.45,161.92,0,64,85.86,4.65,1579827101
389,Oranjemund,NaN,-28.55,16.43,0,85,64.49,0.47,1579827104
403,Plettenberg Bay,ZA,-34.05,23.37,0,84,65.12,3.89,1579827106
429,Bambanglipuro,ID,-7.95,110.28,0,83,78.60,2.62,1579827109
440,La Providencia,MX,28.72,-111.58,0,55,75.99,1.99,1579827111

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df = perfect_df
hotel_df['Hotel Name'] = ""
hotel_df['Address'] = ""
hotel_df

C:\Users\chelb\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\chelb\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,City Name,Country,Lat,Lng,Cloudiness,Humidity,Max Temp,Wind Speed,Date,Hotel Name,Address
102,Luderitz,NaN,-26.65,15.16,0,88,66.20,1.12,1579827066,,
307,Henties Bay,NaN,-22.12,14.28,0,92,66.00,1.99,1579827094,,
362,Kirakira,SB,-10.45,161.92,0,64,85.86,4.65,1579827101,,
389,Oranjemund,NaN,-28.55,16.43,0,85,64.49,0.47,1579827104,,
403,Plettenberg Bay,ZA,-34.05,23.37,0,84,65.12,3.89,1579827106,,
429,Bambanglipuro,ID,-7.95,110.28,0,83,78.60,2.62,1579827109,,
440,La Providencia,MX,28.72,-111.58,0,55,75.99,1.99,1579827111,,

In [15]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {  
    "rankby":"distance",
    "type": "hotel",
    "key": g_key,
    }

for index, row in perfect_df.iterrows():
    city = row['City Name']
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f"{lat},{lng}"
    response = requests.get(base_url, params=params).json()
    results = response['results']

    try:
        print(f"Closest Hotel to {city} is {results[0]['name']}.")
        hotel_df.loc[index,'Hotel Name'] = results[0]['name']
        hotel_df.loc[index,'Address'] = results[0]['vicinity']
        
    except KeyError:
        print("Missing field/result... skipping.")
        
    print("------------")

Closest Hotel to Luderitz is McKingly Children's New Methodist Church.
------------

C:\Users\chelb\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest Hotel to Henties Bay is LifeLink Emergency Rescue Services.
------------
Closest Hotel to Kirakira is SanBiz Lodge.
------------
Closest Hotel to Oranjemund is MTC ORANJEMUND.
------------
Closest Hotel to Plettenberg Bay is Dream Capture Photography Plett.
------------
Closest Hotel to Bambanglipuro is Alas Jati Bantul.
------------
Closest Hotel to La Providencia is La Atlantida.
------------

In [16]:
hotel_df

,City Name,Country,Lat,Lng,Cloudiness,Humidity,Max Temp,Wind Speed,Date,Hotel Name,Address
102,Luderitz,NaN,-26.65,15.16,0,88,66.20,1.12,1579827066,McKingly Children's New Methodist Church,Luderitz
307,Henties Bay,NaN,-22.12,14.28,0,92,66.00,1.99,1579827094,LifeLink Emergency Rescue Services,"57 & 58 Street, Hentiesbaai"
362,Kirakira,SB,-10.45,161.92,0,64,85.86,4.65,1579827101,SanBiz Lodge,"Humou Road, Nakumwe"
389,Oranjemund,NaN,-28.55,16.43,0,85,64.49,0.47,1579827104,MTC ORANJEMUND,Oranjemund
403,Plettenberg Bay,ZA,-34.05,23.37,0,84,65.12,3.89,1579827106,Dream Capture Photography Plett,"5 Knotts Landing, Plettenberg Bay"
429,Bambanglipuro,ID,-7.95,110.28,0,83,78.60,2.62,1579827109,Alas Jati Bantul,"Gluntung Lor, Caturharjo"
440,La Providencia,MX,28.72,-111.58,0,55,75.99,1.99,1579827111,La Atlantida,Sonora

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in perfect_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))